{% extends "auctions/layout.html" %}

{% block body %}
  

  {% if messages %}
    {% for message in messages %}
    <div id="flash_message">
      <p class="alert alert-danger" role="alert">{{ message }}</p>
    </div>
    {% endfor %}
  {% endif %}

  <div class="d-flex justify-content-center">
    <div>
      <h2>Create listing</h2>
      <div class="form-wrapper">
        <form action="{% url 'create_listing' %}" method="post">
          {% csrf_token %}

          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input name="title" type="text" required class="form-control" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="price" class="form-label">Price</label>
            <input name="price" type="text" required class="form-control" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="picture" class="form-label">Picture URL</label>
            <input name="picture" type="text" class="form-control" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" cols="60" rows="5" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="category" class="form-label">Category</label>
            <select name="category" class="form-control">
              <option value="" selected>Categories</option>
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
              {% endfor %}
            </select>
          </div>

          <input type="submit" value="Create Listing" class="submit-button">
        </form>
      </div>
    </div>
  </div>

  <script>
    $('#price').priceFormat();
  </script>
{% endblock %}