{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Create listing</h2>

  {% if messages %}
    {% for message in messages %}
    <div id="flash_message">
      <p class="alert alert-danger" role="alert">{{ message }}</p>
    </div>
    {% endfor %}
  {% endif %}

  <form action="{% url 'create_listing' %}" method="post" class="w-25 p-3">
    {% csrf_token %}
  
    <div class="mb-3">
      <input name="title" type="text" placeholder="Title" required class="form-control">
    </div>
  
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input id="price" name="price" type="text" placeholder="Price" required class="form-control">
    </div>
  
    <div class="input-group mb-3">
      <span class="input-group-text">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
  
    <div class="mb-3">
      <input name="picture" type="text" placeholder="Picture URL" class="form-control">
    </div>
  
    <div class="mb-3">
      <span class="input-group-text">Description</span>
      <textarea name="description" cols="60" rows="5" class="form-control"></textarea>
    </div>
  
    <div class="mb-3">
      <select name="category" class="form-select">
        <option value="" selected>Categories</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}
      </select>
    </div>
  
    <input class="submit-button" type="submit" value="Create Listing" class="btn btn-primary">
  </form>
  

  <script >
    $('#price').priceFormat();
  </script>
{% endblock %}