{% extends "auctions/layout.html" %}
{% load price_format %}

{% block body %}

{% if messages %}
  {% for message in messages %}
    <div id="flash_message">
      {% if message.tags == "success" %}
        <p class="alert alert-success" role="alert">{{ message }}</p>
      {% else %}
        <p class="alert alert-danger" role="alert">{{ message }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

<div class="listing-page-flex">
  <div class="picture">
    {% if listing.picture %}
      <img class="listing-img"
      src="{{ listing.picture }}"
      alt="{{ listing }}">
    {% endif %}
  </div>
  <div class="main-info">
    <h2><strong>{{ listing }}</strong></h2>
    <div class="bids">
      <h3>${{ listing.bids.last|currency_format }}</h3>
      <p>
        {{ listing.bids.count }} bid(s) so far.
        {% if user.id == listing.bids.last.user.id and listing.active %} Your bid is the current bid {% endif %}
      </p>

      {% if user.is_authenticated %}
      <form action="{% url 'place_bid' listing.bids.last.id %}" method="post">
        {% csrf_token %}

        {% if listing.active %}
        <div class="form-group">
          <label for="price" class="form-label">Bid</label>
          <input id="bid" name="bid" required type="text" aria-label="Dollar amount" class="form-control" placeholder="$">
        </div>
        <button type="submit" class="btn btn-primary">Place Bid</button>
        {% else %}
        <div class="alert alert-info" role="alert">
          Listing no longer active{% if user.id == listing.bids.last.user.id %}, you won! {% endif %}
        </div>
        {% endif %}
      </form>
      {% endif %}
    </div>
  </div>

  <div class="description">
    {% if listing.description %}
      <h3>Descrição: </h3>
      <p>{{ listing.description|capfirst }}</p>
    {% endif %}
  </div>
  
  <div class="details w-25">
    <h3>Details</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Listed by {{ listing.author }}</li>
      <li class="list-group-item">Category: {{ listing.category|default_if_none:"Not Listed" }}</li>
    </ul>
  </div>

  <div class="config">
    {% if user.is_authenticated %}
      {% if user.id == listing.author.id %}
      <div class="listing_state">
        <form action="{% url 'listing_state' listing.id %}" method="post">
          {% csrf_token %}

          {% if listing.active %}
          <button name="active" value="True" class="btn btn-outline-danger">Close auction</button>
          {% else %}
          <button name="active" value="" class="btn btn-outline-secondary">Reopen auction</button>
          {% endif %}
        </form>
      </div>
      {% else %}
      <div class="watchlist">
        <form action="{% url 'watchlist_form' listing.id %}" method="post">
          {% csrf_token %}

          {% if in_watchlist %}
          <button name="watchlist" value="True" class="btn btn-primary">Remove from watchlist</button>
          {% else %}
          <button name="watchlist" value="" class="btn btn-outline-primary">Add to watchlist</button>
          {% endif %}
        </form>
      </div>
      {% endif %}
    {% endif %}
  </div>

  
  <div class="comments mb-3">
    <p><strong>{{ comments.count }} Comments</strong></p>
    <ul class="list-group list-group-flush">
      {% for comment in comments %}
      <li class="list-group-item">
        <div><strong>{{ comment.user.username }}</strong></div>
        {{ comment }}
      </li>
      {% endfor %}
    </ul>
  
    {% if user.is_authenticated and listing.active %}
    <form action="{% url 'comments' listing.id %}" method="post">
      {% csrf_token %}
  
      <input name="comment" type="text" class="form-control" placeholder="Add a comment..." aria-label="add comment" autocomplete="off">
      <button type="submit" class="btn btn-light rounded-pill border">Comment</button>
    </form>
    {% endif %}
  
  </div>
</div> <!-- container -->


<script>
  $('#bid').priceFormat();
</script>
{% endblock %}