{% extends "auctions/layout.html" %}
{% load price_format %}
{% load static %}

{% block body %}

<div class="container">
  <div>
    <h2>Watchlist</h2>
    <div class="watchlist-grid">
        {% for listing in watchlist %}
        <div class="listing-item" style="background-image:url('{% static listing.listing.picture %}')">
          <a href="{% url 'listing_page' listing.listing.id %}">
            <div class="info">
              <h1 class="title"><strong>{{ listing.listing.title|capfirst }}</strong></h1>
              <h2 class="price"><span>$</span> <strong>{{ listing.listing.bids.last|currency_format }}</strong></h2>
            </div>
          </a>
        </div>
        {% empty %}
        <p>Looks like there's no active listing</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}